<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">  
  What headset is right for you? Take this short quiz and we'll determine what the right fit is.
</head>
<body>
<p>What platform do you play on?</p>
<form method = "post" action = "/results"> 
<select value = "platform" name = "platform"> Platform
    <option value = "answer">Choose answer here</option>
    <option value = "ps4">Playstation 4</option>
    <option value = "xbox">Xbox One</option>
    <option value = "pc">PC</option>
    <option value = "nintendo switch">Nintendo Switch</option>
    <option value = "phone">Phone</option>
</select>
<p>What's your favorite video game genre?</p>
<select value = "genre" name = "genre"> Platform
    <option value = "answer">Choose answer here</option>
    <option value = "battleroyale">Battle Royale</option>
    <option value = "rpg">Role-Play Games</option>
    <option value = "fps">First-Person Shooter</option>
    <option value = "strategy">Strategy Games</option>
    <option value = "sim">The Sims</option>
</select>
<p>Where is your setup?</p>
<select name = "setup">
    <option value = "answer">Choose answer here</option>
    <option value = "desk">Desk/Room</option>
    <option value = "livingroom">Couch or Living Room area</option>
    <option value = "office">Office/work</option>
</select>
<input type = "submit" value = "Submit">
</form>

</body>
</html>