<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<p>What platform do you play on?</p>
<form method = "post" action = "/results"> 
<select value = "platform" name = "platform"> Platform
    <option value = "ps4">Playstation 4</option>
    <option value = "xbox">Xbox One</option>
    <option value = "pc">PC</option>
    <option value = "nintendo switch">Nintendo Switch</option>
    <option value = "phone">Phone</option>
</select>
<input type = "submit" value = "Submit">
</form>
​
​
</body>
</html>